@import "../../style//mixin.scss";

.goBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.shop_wrapper {
  //   padding-top: 1.95rem;
  .shop_detail_header {
    overflow: hidden;
    position: relative;
    .header_cover_img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      filter: blur(10px);
    }
    .description_header {
      position: relative;
      z-index: 10;
      background-color: rgba(119, 103, 137, 0.43);
      padding: 0.4rem 0 0.4rem 0.4rem;
      width: 100%;
      overflow: hidden;
      .description_top {
        display: flex;
        .description_left {
          margin-right: 0.3rem;
          img {
            @include wh(2.9rem, 2.9rem);
            display: block;
            border-radius: 0.15rem;
          }
        }
        .description_right {
          flex: 1;
          .description_title {
            @include font(0.8rem, #fff);
            font-weight: bold;
            width: 100%;
            margin-bottom: 0.3rem;
          }
          .description_text {
            @include font(0.5rem, #fff);
            margin-bottom: 0.3rem;
          }
          .description_promotion {
            @include font(0.5rem, #fff);
            width: 11.5rem;
          }
        }
        .description_arrow {
          @include positionHCenter;
          right: 0.3rem;
          z-index: 11;
        }
      }
      .description_footer {
        @include flex();
        margin-top: 0.5rem;
        padding-right: 1rem;
        p {
          @include font(0.5rem, #fff);
          span {
            color: #fff;
          }
          .tip_icon {
            padding: 0 0.04rem;
            border: 0.025rem solid #fff;
            border-radius: 0.1rem;
            font-size: 0.4rem;
            display: inline-block;
          }
        }
        .ellipsis {
          width: 84%;
        }
        .footer_arrow {
          @include wh(0.45rem, 0.45rem);
          position: absolute;
          right: 0.3rem;
        }
      }
    }
  }
  .activities_details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262626;
    z-index: 200;
    padding: 1.25rem;
    .activities_shoptitle {
      @include font(0.8rem, #fff,center);
    }
    .activities_ratingstar {
      @include flex();
      transform: scale(2.2);
      margin-top: 0.7rem;
    }
    .activities_list {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      @include font(0.5rem, #fff);
      li {
        margin-bottom: 0.2rem;
        .activities_icon {
          padding: 0 0.02rem;
          display: inline-block;
          border: 0.025rem solid #fff;
          border-radius: 0.1rem;
        }
        span {
          color: #fff;
          line-height: 0.6rem;
        }
      }
    }
    .activities_shopinfo {
      p {
        line-height: 0.7rem;
        @include font(0.5rem, #fff);
      }
    }
    .activities_title_style {
      text-align: center;
      margin-bottom: 1rem;
      span {
        @include font(0.5rem, #fff);
        border: 0.025rem solid #555;
        padding: 0.2rem 0.4rem;
        border-radius: 0.5rem;
      }
    }
    .close_activities {
      @include wh(2rem,2rem);
      position: absolute;
      bottom: 1rem;
      left:50%;
      transform: translate3d(-50%,0,0);
    }
  }
  
}

.shop_detail_container_nav{
  @include flex();
  height:2.25rem;
  background-color:#fff;
  border-bottom:1px solid #ccc;
  div{
    width:50%;
    @include font(0.65rem,#666,center);
    &.active{
      span{
        padding:0.2rem 0.1rem;
        border-bottom:0.12rem solid $blue;
        color:$blue;
      }
    }
  }
}
.showWrapper{
  .rate_content{
    .rate_content_head{
      padding:0.8rem 0.5rem;
      display:flex;
      border-bottom:0.5rem solid #f5f5f5;
      .rate_content_head_left{
        flex:3;
        p:nth-child(1){
          @include font(1.2rem,#f60,center);
        }
        p:nth-child(2){
          @include font(0.65rem,#666,center);
        }
        p:nth-child(3){
          @include font(0.4rem,#999,center);
        }
      }
      .rate_content_head_right{
        flex:4;
        .score_des{
          @include font(0.65rem,#666);
          margin-right:0.5rem;
        }
        .score_icon{
          display: inline-block;
          .iconWh{
            @include wh(0.4rem,0.4rem);
          }
        }
        .score_num{
          @include font(0.55rem,#f60);
          margin-left:0.5rem;
        }
        .score_time{
          @include font(0.4rem,#999);
        }
      }
    }
    .rate_classify{
      padding:0.5rem;
      border-bottom:1px solid #eee;
      .tagItem{
        display:inline-block;
        padding:0.3rem;
        background-color:#ebf5ff;
        border-radius:0.2rem;
        margin:0 0.4em 0.2rem 0;
        @include font(0.6rem,#6d7885);
      }
    }
    .rateList{
      padding-left:0.5rem;
    }
    .rateItem{
      @include flex(flex-start,flex-start);
      padding:0.6rem 0.5rem 0.5rem 0;
      border-bottom:1px solid #eee;
      .rate_touxiang{
        flex:0 0 2.3rem;
        img{
          @include wh(1.5rem,1.5rem);
          border-radius:50%;
        }
      }
      .rate_item_detail{
        flex:1;
        .rate_item_userTime{
          @include flex(space-between);
          .rate_item_userName{
            @include font(0.7rem);
          }
          .rate_item_time{
            @include font(0.4rem,#666);
          }
        }
        .rate_item_score{
          span{
            @include font(0.6rem,#666);
          }
          .rate_score{
            display:inline-block;
            margin-left:0.2rem;
          }
        }
      }
      .rate_desText{
        @include font(0.7rem,#333);
      }
      .rate_foodImgList{
        @include flex(flex-start);
        margin-top:0.3rem;
        .rate_foodImg{
          @include wh(3rem,3rem);
          margin-right:0.3rem;
          margin-bottom:0.3rem;
          img{
            @include wh(100%,100%);
            border-radius:0.25rem;
          }
        }
      }
    }
  }
  .goods{
    display: flex;
    position:absolute;
    top:6.1rem;left:0;right:0;bottom:2rem;
    overflow:hidden;
    background-color:#fff;
    .menuWrapper{
      flex:0 0 80px;
      width:80px;
      background: #f3f5f7;
      .menuItem{
        padding:0 12px;
        width:80px;height:54px;
        display: table;
        line-height:14px;
        font-weight: 200;
        color:rgb(0,20,20);
        span{
          display:table-cell;height:100%;
          font-size: 12px;
          border-bottom:1px solid rgba(7,17,27,0.1);
          vertical-align: middle;
          text-align: center;
        }
      }
      .current{
        background: #fff;
        color:red;
      }
    }
    .goodsWrapper{
      flex: 1;
    } 
    .foodsTypeItem>h1{
      background: #f3f5f7;height:26px;line-height: 26px;border-left:2px solid #d9dde1;padding-left:14px;
      font-size: 12px;color:rgb(147,153,159);
    }
    .foodsItem{
      margin:18px 18px 0 18px;font-size: 0;padding-bottom: 18px;
      border-bottom:1px solid rgba(7,17,27,0.1);
      .foodImg{
        display: inline-block;width:64px;height:64px;margin-right:10px;vertical-align: top;
      }
      .foodContent{
        display: inline-block;
        width:calc(100% - 74px);
        text-align: justify;
        position: relative;
      }
      .foodName{
        font-size: 14px;color:rgb(7,17,27);line-height: 14px;margin-top:2px;
      }
      .foodDes,.foodData{
        font-size:10px;color:rgb(147,153,159);
      }
      .foodDes{
        margin:8px 0;
      }
      .currentPrice{
        font-size:14px;
        color:rgb(240,20,20);
        font-weight:700;
        line-height: 24px;
        margin-right:8px;
      }
      .oldPrice {
        font-size:10px;
        color:rgb(147,153,159);
        font-weight:700;
        line-height: 24px;
        text-decoration:line-through;
      }
    }
    .foodsTypeItem .foodsItem:last-child{
      border: none;
    }
    .cartControlWrapper{
      position: absolute;
      bottom:0;right:12px;
    }
  }
}

// .shop_detail_container{
//   position:relative;
//   .shop_detail_container_nav{
//     @include flex();
//     height:2.25rem;
//     background-color:#fff;
//     border-bottom:1px solid #ccc;
//     div{
//       width:50%;
//       @include font(0.65rem,#666,center);
//       &.active{
//         span{
//           padding:0.2rem 0.1rem;
//           border-bottom:0.12rem solid $blue;
//           color:$blue;
//         }
//       }
//     }
//   }
//   .showWrapper{
//     position:absolute;
//     top:2.25rem;
//     bottom:0;
//     left:0;right:0;
//     background-color:#fff;
//     // overflow: hidden;
//     .show_wrapper_content{
//       // width:100%;
//       // height:100%;
//       // overflow:hidden;
//     }
//     .rate_content{
//       .rate_content_head{
//         padding:0.8rem 0.5rem;
//         display:flex;
//         border-bottom:0.5rem solid #f5f5f5;
//         .rate_content_head_left{
//           flex:3;
//           p:nth-child(1){
//             @include font(1.2rem,#f60,center);
//           }
//           p:nth-child(2){
//             @include font(0.65rem,#666,center);
//           }
//           p:nth-child(3){
//             @include font(0.4rem,#999,center);
//           }
//         }
//         .rate_content_head_right{
//           flex:4;
//           .score_des{
//             @include font(0.65rem,#666);
//             margin-right:0.5rem;
//           }
//           .score_icon{
//             display: inline-block;
//             .iconWh{
//               @include wh(0.4rem,0.4rem);
//             }
//           }
//           .score_num{
//             @include font(0.55rem,#f60);
//             margin-left:0.5rem;
//           }
//           .score_time{
//             @include font(0.4rem,#999);
//           }
//         }
//       }
//       .rate_classify{
//         padding:0.5rem;
//         border-bottom:1px solid #eee;
//         .tagItem{
//           display:inline-block;
//           padding:0.3rem;
//           background-color:#ebf5ff;
//           border-radius:0.2rem;
//           margin:0 0.4em 0.2rem 0;
//           @include font(0.6rem,#6d7885);
//         }
//       }
//       .rateList{
//         padding-left:0.5rem;
//       }
//       .rateItem{
//         @include flex(flex-start,flex-start);
//         padding:0.6rem 0.5rem 0.5rem 0;
//         border-bottom:1px solid #eee;
//         .rate_touxiang{
//           flex:0 0 2.3rem;
//           img{
//             @include wh(1.5rem,1.5rem);
//             border-radius:50%;
//           }
//         }
//         .rate_item_detail{
//           flex:1;
//           .rate_item_userTime{
//             @include flex(space-between);
//             .rate_item_userName{
//               @include font(0.7rem);
//             }
//             .rate_item_time{
//               @include font(0.4rem,#666);
//             }
//           }
//           .rate_item_score{
//             span{
//               @include font(0.6rem,#666);
//             }
//             .rate_score{
//               display:inline-block;
//               margin-left:0.2rem;
//             }
//           }
//         }
//         .rate_desText{
//           @include font(0.7rem,#333);
//         }
//         .rate_foodImgList{
//           @include flex(flex-start);
//           margin-top:0.3rem;
//           .rate_foodImg{
//             @include wh(3rem,3rem);
//             margin-right:0.3rem;
//             margin-bottom:0.3rem;
//             img{
//               @include wh(100%,100%);
//               border-radius:0.25rem;
//             }
//           }
//         }
//       }
//     }
//     .goods{
//       display: flex;
//       // position:absolute;
//       // top:2.25rem;left:0;right:0;bottom:0;
//       // overflow:hidden;
//       .menuWrapper{
//         flex:0 0 80px;
//         width:80px;
//         background: #f3f5f7;
//         .menuItem{
//           padding:0 12px;
//           width:80px;height:54px;
//           display: table;
//           line-height:14px;
//           font-weight: 200;
//           color:rgb(0,20,20);
//           span{
//             display:table-cell;height:100%;
//             font-size: 12px;
//             border-bottom:1px solid rgba(7,17,27,0.1);
//             vertical-align: middle;
//             text-align: center;
//           }
//         }
//         .current{
//           background: #fff;
//           color:red;
//         }
//       }
//       .goodsWrapper{
//         flex: 1;
//       } 
//       .foodsTypeItem>h1{
//         background: #f3f5f7;height:26px;line-height: 26px;border-left:2px solid #d9dde1;padding-left:14px;
//         font-size: 12px;color:rgb(147,153,159);
//       }
//       .foodsItem{
//         margin:18px 18px 0 18px;font-size: 0;padding-bottom: 18px;
//         border-bottom:1px solid rgba(7,17,27,0.1);
//         .foodImg{
//           display: inline-block;width:64px;height:64px;margin-right:10px;vertical-align: top;
//         }
//         .foodContent{
//           display: inline-block;
//           width:calc(100% - 74px);
//           text-align: justify;
//           position: relative;
//         }
//         .foodName{
//           font-size: 14px;color:rgb(7,17,27);line-height: 14px;margin-top:2px;
//         }
//         .foodDes,.foodData{
//           font-size:10px;color:rgb(147,153,159);
//         }
//         .foodDes{
//           margin:8px 0;
//         }
//         .currentPrice{
//           font-size:14px;
//           color:rgb(240,20,20);
//           font-weight:700;
//           line-height: 24px;
//           margin-right:8px;
//         }
//         .oldPrice {
//           font-size:10px;
//           color:rgb(147,153,159);
//           font-weight:700;
//           line-height: 24px;
//           text-decoration:line-through;
//         }
//       }
//       .foodsTypeItem .foodsItem:last-child{
//         border: none;
//       }
//       .cartControlWrapper{
//         position: absolute;
//         bottom:0;right:12px;
//       }
//     }
//   }
// }
