@import "../../style//mixin.scss";

.goBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.shop_wrapper {
  //   padding-top: 1.95rem;
  .shop_detail_header {
    overflow: hidden;
    position: relative;
    .header_cover_img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      filter: blur(10px);
    }
    .description_header {
      position: relative;
      z-index: 10;
      background-color: rgba(119, 103, 137, 0.43);
      padding: 0.4rem 0 0.4rem 0.4rem;
      width: 100%;
      overflow: hidden;
      .description_top {
        display: flex;
        .description_left {
          margin-right: 0.3rem;
          img {
            @include wh(2.9rem, 2.9rem);
            display: block;
            border-radius: 0.15rem;
          }
        }
        .description_right {
          flex: 1;
          .description_title {
            @include font(0.8rem, #fff);
            font-weight: bold;
            width: 100%;
            margin-bottom: 0.3rem;
          }
          .description_text {
            @include font(0.5rem, #fff);
            margin-bottom: 0.3rem;
          }
          .description_promotion {
            @include font(0.5rem, #fff);
            width: 11.5rem;
          }
        }
        .description_arrow {
          @include positionHCenter;
          right: 0.3rem;
          z-index: 11;
        }
      }
      .description_footer {
        @include flex();
        margin-top: 0.5rem;
        padding-right: 1rem;
        p {
          @include font(0.5rem, #fff);
          span {
            color: #fff;
          }
          .tip_icon {
            padding: 0 0.04rem;
            border: 0.025rem solid #fff;
            border-radius: 0.1rem;
            font-size: 0.4rem;
            display: inline-block;
          }
        }
        .ellipsis {
          width: 84%;
        }
        .footer_arrow {
          @include wh(0.45rem, 0.45rem);
          position: absolute;
          right: 0.3rem;
        }
      }
    }
  }
  .activities_details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262626;
    z-index: 200;
    padding: 1.25rem;
    .activities_shoptitle {
      @include font(0.8rem, #fff,center);
    }
    .activities_ratingstar {
      @include flex();
      transform: scale(2.2);
      margin-top: 0.7rem;
    }
    .activities_list {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      @include font(0.5rem, #fff);
      li {
        margin-bottom: 0.2rem;
        .activities_icon {
          padding: 0 0.02rem;
          display: inline-block;
          border: 0.025rem solid #fff;
          border-radius: 0.1rem;
        }
        span {
          color: #fff;
          line-height: 0.6rem;
        }
      }
    }
    .activities_shopinfo {
      p {
        line-height: 0.7rem;
        @include font(0.5rem, #fff);
      }
    }
    .activities_title_style {
      text-align: center;
      margin-bottom: 1rem;
      span {
        @include font(0.5rem, #fff);
        border: 0.025rem solid #555;
        padding: 0.2rem 0.4rem;
        border-radius: 0.5rem;
      }
    }
    .close_activities {
      @include wh(2rem,2rem);
      position: absolute;
      bottom: 1rem;
      left:50%;
      transform: translate3d(-50%,0,0);
    }
  }
  
}

.shop_detail_container_nav{
  @include flex();
  height:2.25rem;
  background-color:#fff;
  border-bottom:1px solid #ccc;
  div{
    width:50%;
    @include font(0.65rem,#666,center);
    &.active{
      span{
        padding:0.2rem 0.1rem;
        border-bottom:0.12rem solid $blue;
        color:$blue;
      }
    }
  }
}
.showWrapper{
  
}

.shopDetailHead{
  padding:0.4rem;
  background:rgba(119, 103, 137, 0.43);
  position:relative;
  .icon_back{
    position:absolute;
    top:0.3rem;left:0.3rem;
    z-index:1;
    @include wh(1rem,1rem);
  }
  .shopDetailHead_top{
    @include flex(flex-start,flex-start);
    position:relative;
    .shopImg{
      flex:0 0 2.9rem;
      @include wh(2.9rem,2.9rem);
    }
    .shopText{
      flex:1;
      margin:0 1rem 0 0.3rem;
      p{
        @include font(0.5rem,#fff);
      }
      p:nth-child(1){
        font-weight:bold;
        font-size:0.8rem;
      }
      p:nth-child(2){
        margin:0.2rem 0;
      }
    }
    .icon_right{
      @include wh(0.7rem,0.7rem);
      @include positionHCenter();
      right:0;
    }
  }
  .actives{
    height:0.8rem;
    @include font(0.5rem,#fff);
  }
}